.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 68px;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  border: 1px solid rgba($color-white, 0.4);
  border-radius: 10px;

  box-shadow: 0 12px 48px $color-purple-250;
  background-color: $color-purple-300;

  &--header {
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
}

.logo__img {
  width: 85px;
  height: 33px;
}
