.logo {
  width: 126px;
  height: 68px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid rgba($color-white, 0.4);
  border-radius: 10px;

  box-shadow: 0 12px 48px $color-purple-250;
  background-color: $color-purple-300;

  &--header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
}

.logo__img {
  width: 85px;
  height: 33px;
}
