// Пути

$fonts: "../fonts";
$img: "../img";

// Брейкпоинты

$mobile-width: 325px;
$desktop-width: 1300px;

$mobile-padding: 20px;
$desktop-padding: 40px;

// Цвета

$color-black: #000000;

$color-blue-500: #2461ff;

$color-brown-900: #212121;

$color-magenta-400: #e45dfb;
$color-magenta-500: #e04cf9;
$color-magenta-600: #d944f2;
$color-magenta-900: #86488c;

$color-pink-500: #ef639a;
$color-pink-600: #de4ca9;
$color-pink-900: #771c6d;
$color-pink-950: #621956;

$color-purple-50: #fef3fe;
$color-purple-100: #ceabca;
$color-purple-150: #c8a7e3;
$color-purple-250: #7c50a0;
$color-purple-300: #79418b;
$color-purple-400: #6b3686;
$color-purple-500: #691a6a;
$color-purple-600: #591365;

$color-white: #ffffff;
