.header {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  padding-bottom: 13px;

  background-color: $color-pink-900;
}

.header__inner {
  width: 100%;
  max-width: $desktop-width;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
}
