.steps {
  display: flex;
  justify-content: center;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  background-image: linear-gradient($color-pink-950, $color-brown-900);

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;

    background-image: linear-gradient(
      $color-pink-950,
      $color-pink-1000 35%,
      $color-brown-900
    );
  }
}

.steps__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $desktop-width - ($mobile-padding * 2);
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-top: 22px;
  padding-bottom: 15px;
  border: 2px solid rgba($color-white, 0.4);
  border-radius: 5px;

  background: rgba($color-magenta-900, 0.27);
  backdrop-filter: blur(6px);

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    max-width: $desktop-width - ($desktop-padding * 2);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 75px;
    padding-bottom: 88px;
    border-radius: 7px;
  }
}

.steps__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-align: center;

  font-weight: 900;
  font-size: 38px;
  line-height: 1;
  text-shadow: 0 0 73px rgba($color-white, 0.25);

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    font-size: 65px;
  }
}

.steps__description {
  margin: 0;
  margin-bottom: 116px;
  padding: 0;
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 17px;

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    margin-bottom: 245px;

    font-size: 20px;
    line-height: 29px;
  }
}

.steps__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;

  color: $color-purple-50;

  counter-reset: step;

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 84px;
  }
}

.steps__item {
  --step-icon-size: 77px;

  position: relative;

  padding-left: 90px;

  font-weight: 700;
  font-size: 11px;
  line-height: 14px;

  &:not(:last-child) {
    margin-bottom: 140px;
  }

  &:nth-child(2) {
    margin-bottom: 148px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 51px;
    top: -93px;
    z-index: 5;

    width: var(--step-icon-size);
    height: var(--step-icon-size);

    background-image: url("../img/steps/cart.png");
    background-size: var(--step-icon-size) var(--step-icon-size);
    background-repeat: no-repeat;
  }

  &::after {
    content: "";

    position: absolute;
    top: calc(-93px + (var(--step-icon-size) / 6));
    left: calc(51px + (var(--step-icon-size) / 6));
    z-index: 2;

    width: calc(var(--step-icon-size) / 1.5);
    height: calc(var(--step-icon-size) / 1.5);
    border-radius: 50%;

    background-color: rgba($color-pink-600, 0.4);
    box-shadow: 0 0 5px 5px rgba($color-pink-600, 0.4);
    filter: blur(15px);
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    &::before {
      background-image: url("../img/steps/cart@2x.png");
    }
  }

  &--form {
    --step-icon-size: 81px;

    &::before {
      background-image: url("../img/steps/monitor.png");
    }

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
      &::before {
        background-image: url("../img/steps/monitor@2x.png");
      }
    }
  }

  &--pay {
    --step-icon-size: 81px;

    &::before {
      background-image: url("../img/steps/money.png");
    }

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
      &::before {
        background-image: url("../img/steps/money@2x.png");
      }
    }
  }

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    --step-icon-width: 159px;
    --step-icon-height: 129px;

    width: 250px;
    min-height: 80px;
    height: 100%;
    padding-left: 0;

    font-size: 18px;
    line-height: 21px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-bottom: 0;
    }

    &::before {
      left: 16px;
      top: calc((var(--step-icon-height) * -1) - 25px);

      width: var(--step-icon-width);
      height: var(--step-icon-height);

      background-image: url("../img/steps/cart-desktop.png");
      background-size: var(--step-icon-width) var(--step-icon-height);
    }

    &::after {
      top: calc(-167px + (var(--step-icon-width) / 6));
      left: calc(24px + (var(--step-icon-height) / 6));

      width: calc(var(--step-icon-width) / 1.3);
      height: calc(var(--step-icon-height) / 1.3);
    }

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
      &::before {
        background-image: url("../img/steps/cart-desktop@2x.png");
      }
    }

    &--form {
      &::before {
        background-image: url("../img/steps/monitor-desktop.png");
      }

      @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
        &::before {
          background-image: url("../img/steps/monitor-desktop@2x.png");
        }
      }
    }

    &--pay {
      &::before {
        background-image: url("../img/steps/money-desktop.png");
      }

      @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
        &::before {
          background-image: url("../img/steps/money-desktop@2x.png");
        }
      }
    }
  }
}

.steps__item-inner {
  position: relative;

  display: block;
  max-width: 100px;

  counter-increment: step;

  &::before {
    content: counter(step);

    position: absolute;
    left: -56px;
    top: -3px;

    font-weight: 800;
    font-size: 38px;
    line-height: 1;
  }

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    display: flex;
    align-items: center;
    max-width: 240px;
    height: 100%;
    min-height: 70px;
    padding-left: 98px;

    &::before {
      left: 0;
      top: 8px;

      font-size: 65px;
    }
  }
}

.steps__item:nth-child(-n + 9) .steps__item-inner {
  &::before {
    content: "0" counter(step);
  }
}

.steps__item:not(:last-child) .steps__item-inner {
  --steps-array-width: 38px;
  --steps-array-height: 62px;

  &::after {
    content: "";

    position: absolute;
    left: -6px;
    bottom: -58px;

    width: var(--steps-array-width);
    height: var(--steps-array-height);

    background-image: url("../img/steps/array.svg");
    background-size: var(--steps-array-width) var(--steps-array-height);
    background-repeat: no-repeat;
  }

  @media (min-width: ($desktop-width + ($desktop-padding * 2))) {
    --steps-array-width: 60px;
    --steps-array-height: 97px;

    &::after {
      left: auto;
      right: -80px;
      top: 0;
      bottom: auto;

      transform: rotate(-95deg);
    }
  }
}

.steps__item:nth-child(2) .steps__item-inner {
  &::after {
    bottom: -62px;
  }
}
